body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #d1a054;
    margin-top: 20px;
  }
  
  #inputContainer {
    text-align: center;
    margin-top: 30px;
  }
  
  #turnsPerSetInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  #confirmButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d1a054;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  
  #confirmButton:hover {
    background-color: #c49235;
  }
  
  #ageLabel {
    text-align: center;
    color: #d1a054;
    font-size: 24px;
    margin-top: 20px;
  }
  
  #turnCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: #c1d4e9;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    margin: 0 auto;
  }
  
  #counter {
    font-size: 48px;
    color: #d1a054;
    margin: 0;
  }
  
  #image {
    width: 200px;
    height: auto;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.3s ease;
  }
  
  #image:hover {
    transform: scale(1.1);
  }
  
  #image:active {
    transform: scale(0.9);
    filter: brightness(0.8);
  }
  
  #image[src$="end.png"] {
    border: 5px ridge #d1a054; /* Added gold, ridged border */
  }
  
  #status {
    text-align: center;
    color: #d1a054;
    font-size: 18px;
    margin-top: 20px;
  }

  #resetButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d1a054;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  
  #resetButton:hover {
    background-color: #c49235;
  }